<form class="contact-form" action="https://formspree.io/f/mvkpgrpl" method="POST">
  <div>
    <label for="cf-name">{{ i18n "form_name" }}</label>
    <input type="text" name="name" id="cf-name" required>
  </div>
  <div>
    <label for="cf-email">{{ i18n "form_email" }}</label>
    <input type="email" name="email" id="cf-email" required>
  </div>
  <div>
    <label for="cf-message">{{ i18n "form_message" }}</label>
    <textarea name="message" id="cf-message" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">{{ i18n "contact_form_submit" }}</button>
</form>
